/**
  Dark Theme 
*/

.name-type {
    position: relative;
    .highlight{
        position: absolute;
        height: 100%;
        width: 5px;
        left: 0;
        top:0;
        border-top-right-radius:5px ;
        border-bottom-right-radius: 5px;
    }
    .name-type-icon {
        color:var(--muted-foreground) ;
        
    }
    .name-type-text {
        span {
            color: var(--muted-foreground);
        }
    }
    &:hover {
        background: #c1f2fb;
        
    }
}

.type-name-active {
    color: var(--foreground);
    background-color: #e0faff;
    .highlight{
        background-color: #03d7fc;
    }
    .name-type-text {
        span {
            color: var(--foreground);
        }
    }
    .name-type-icon {
        color: var(--foreground);
        svg {
            color: var(--foreground);
        }
    }
}

/**
  This is the main styling with no colors handling
*/
.side-nav-type-name {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    align-items: center;
    flex-direction: column;

    .name-type-icon {
        > svg {
            width: 25px;
            height: 25px;
        }
    }
    .name-type-text {
        margin-top: 5px;
        font-size: 0.9rem;
        @media (max-width: "1250px") {
            font-size: 0.7rem;
        }
    }
}

.slim {
    .type-name-active {
        .svg-icon {

        }
    }
}

.expand {
    .side-nav-type-name {
        flex-direction: row;
        align-items: center;
        .name-type-text {
            margin-top: 0px;
            margin-left: 1rem;
            font-size: 0.9rem;
        }
    }

    .type-name-active {
        flex-direction: row;
        align-items: center;
    
    }
}
