.main-app {
    width: 100%;
    flex: 1;
    height: 100vh;
    overflow: scroll;
    background-color: hsl(var(--background));
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    z-index: 0;
}
.main-app::-webkit-scrollbar {
    display: none;
}

.nav-icon {
    margin-right: 1rem;
    width: 1.5rem;
    height: 100%;
    color: hsl(var(--muted-foreground));
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: hsl(var(--muted-foreground));
    }
}

.top-sideBar-wrapper {
    height: 100%;
}


.userAvatar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    .available-credit-container {
        height: 100%;
        width: 120px;
        border: 1px solid hsl(var(--border));
        border-top: none;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.no-right {
            border-right: none;
            width: 100px;
        }
        .credit-stats-main {
            display: flex;
            align-items: center;
            > svg {
                height: 15px;
                width: 15px;
                margin-right: 5px;
            }
            > p {
                font-size: 14px;
                font-weight: 600;
                color: #15bf86; // add dynamic coloring to text on low coins
            }
        }
        
        > p {
            font-size: 13px;
            color: #506e91;
        }
    }
    .getting-started-issues {
        display: flex;
        align-items: center;
        margin-right: 10px;
        padding: 4px 6px;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 5px;
        &:hover {
            background-color: hsl(var(--background));
            border-color: #f2c300;
            > p {
                color: hsl(var(--primary));
            }
        }
        > svg {
            height: 20px;
            width: 20px;
        }
        > p {
            font-size: 14px;
            font-weight: 600;
            margin: 0 5px;
            color: hsl(var(--primary));
        }
    }
}

.layout-main-content {
    position: relative;
    height: 92vh;
    width: 100%;
    overflow-y: hidden;
    z-index: 0;
}
