.side-nav-type-slim {
    position: relative;
    width: 100%;
    height: 7vh;
    margin: 10px 0px 0px 0px;
    display: flex;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .slim-type-icon {
         border-radius: 0;
         height: 25px;
         width: 25px;
    }
    .slim-type-text {
         display: none;
         margin-top: 0px;
         margin-left: 1rem;
         font-size: 0.9rem;
    }
    .highlight{
         position: absolute;
         width: 5px;
         height: 100%;
         border-top-right-radius:5px ;
         border-bottom-right-radius: 5px;
         left: 0%;
         top: 0%;
    }
    .icon-wrapper {
         width: 40px;
         height: 40px;
         padding: 12px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
    }
    &:hover {
         .tooltip {
              visibility: visible;
         }
    }
}
.side-nav-type-slim {
    &:hover{
         .icon-wrapper{
              background-color:#7D51FE;
          } ;
         .slim-type-icon {
              > svg{
                   stroke: hsl(var(--background));
              }
         }
    }
}
.type-slim-active {
    .icon-wrapper{
         background: #7D51FE;
    }
    .highlight{
         background:#7D51FE ;
    }
    .slim-type-icon {
         svg{
              stroke: hsl(var(--background));
         }
    }
}
.expand {
    .side-nav-type-slim {
        flex-direction: row;
        align-items: center;
        .slim-type-text {
            display: block;
        }
    }

    .type-slim-active {
        flex-direction: row;
        align-items: center;

    }

    &:hover {
        .tooltip {
            visibility: hidden;
        }
    }
}

