@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
:root {
  height: 100%;
}

@layer utilities {
     
  /* Set the style for the scrollbar */
  .scrollbar::-webkit-scrollbar {
       width: 10px; /* Set the width of the scrollbar */
  }
  
  /* Set the style for the scrollbar track */
  .scrollbar::-webkit-scrollbar-track {
       background-color: transparent; /* Set the background color of the scrollbar track */
       opacity: 0.5;
  }
  
  /* Set the style for the scrollbar thumb */
  .scrollbar::-webkit-scrollbar-thumb {
       background-color: #888; /* Set the color of the scrollbar thumb */
       border-radius: 5px; /* Set the border radius of the scrollbar thumb */
  }
  
  /* Set the style for the scrollbar thumb on hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
       background-color: #555; /* Change the color of the scrollbar thumb on hover */
  }
}
@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #020028;
    
    --card: #FFFFFF;
    --card-foreground: #020028;
    
    --popover: #FFFFFF;
    --popover-foreground: #020028;
    
    --primary: #151A26;
    --primary-foreground: #F8FAFC;
    
    --secondary: #E8F0F8;
    --secondary-foreground: #151A26;
    
    --muted: #E8F0F8;
    --muted-foreground: #748AA1;
    
    --accent: #E8F0F8;
    --accent-foreground: #151A26;
    
    --destructive: #FF4A4A;
    --destructive-foreground: #F8FAFC;
    
    --border: #D1D9E3;
    --input: #D1D9E3;
    --ring: #020028;
    
    --radius: 0.5rem;
  }

  [data-theme="dark"]{
    --background: #3d3d3d;
    --foreground: #F8FAFC;
    
    --card: #020028;
    --card-foreground: #F8FAFC;
    
    --popover: #020028;
    --popover-foreground: #F8FAFC;
    
    --primary: #F8FAFC;
    --primary-foreground: #151A26;
    
    --secondary: #242734;
    --secondary-foreground: #F8FAFC;
    
    --muted: #242734;
    --muted-foreground: #647487;
    
    --accent: #242734;
    --accent-foreground: #F8FAFC;
    
    --destructive: #661717;
    --destructive-foreground: #F8FAFC;
    
    --border: #242734;
    --input: #242734;
    --ring: #CAD0E2;
    
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}